.category{
    width: fixed(1920px);
    height: Hug(1423px);
    top: 1080px;
    padding: 100px 150px 100px 150px;
    gap: 99px;
    margin: 0 auto !important;
}
.headline p{
    width: 595px;
    height: 85px;
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 64px;
    line-height: 85.31px;
    color: #07484A;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -50px;
}
.main-block{
    width: 1620px;
    height: Hug(1039px);
    gap: 60px;
    display: flex;
    justify-content: space-between;
}
.side-menu{
    width: 250px;
    height: Hug(1018px);
    gap: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search-bar{
    background-color: #F0F0F0;
    width: Fixed(349px);
    height: Hug(75px);
    padding: 26px 32px 26px 32px;
    gap: 18px;
    border-radius: 10px; 
    text-align: center;
    position: relative;
    margin-bottom: -50px;
    
}
 .search-bar-input{
    background-color: #F0F0F0;
    outline: none;
    border: none;
    position: relative;
    font-size: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 

.menu-box{
    width: Fill (349px)px;
    height: Hug (694px)px;
    gap: 120px;
    opacity: 0px;
    display: flex;
    

}
.menu-text{
    width: Fixed (164px)px;
    height: Hug (694px)px;
    gap: 0px;
    opacity: 0px;
    
}
.menu-text p{
    gap: 0px;
    opacity: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #07484A;
    padding-bottom: 50px;
}
.all-category{
    width: Fixed (265px)px;
    height: Hug (89px)px;
    padding: 32px 20px 32px 20px;
    gap: 18px;
    border-radius: 10px;
    opacity: 0px;
    background: #70908B;
    text-align: center;
    margin-top: -100px;
}
.all-category button{
    width: 126px;
    height: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    text-align: left;
    color: #F0F0F0;
    background: #70908B;
    border: none;
}

.grid-container{
    width: 1150px;
    height: Hug (1,039px);
    gap: 26px;
    opacity: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: 400px;
    
}

.grid-item{
    background-color:  #D9D9D9;
    opacity: 0px;
    width: 530px;
    height: 321px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
}
.grid-item:hover{
    cursor: pointer;
    background: #ADADAD;
}

.explore{
    width: 595px;
    height: 85px;
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 85.31px;
    color: #07484A;
    margin: auto;
}
#item1{
    background: #ADADAD;
    box-shadow: 0px 4px 50px 0px #00000026;
    width: Fill (589.5px);
height: Fixed (345px);
gap: 36px;
border-radius: 10px;
opacity: 0px;
text-align: center;
box-shadow: 0px 4px 50px 0px #00000026;

}
.header1{
    width: 264px;
height: 85px;
gap: 0px;
opacity: 0px;
margin: auto;
margin-top: 50px;
font-family: Playfair Display;
font-size: 64px;
font-weight: 400;
line-height: 85.31px;
text-align: left;
color:#FDFBF8;
;

}
.grid-container button{
    background: #E0EFF6;
    color: #07484A;
    border: none;
    width: Fixed (150px)px;
    height: Hug (53px)px;
    padding: 14px 20px 14px 20px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;

}
@media (max-width:1024px) {
    .main-block{
        display: flex;
        flex-direction: column;
    }
   .slider-option{
    display: none;
   }
   .menu-text{ 
    display: grid;
    grid-template-columns: repeat(4,2fr);
    font-size: 16px;
   }
  
  
}