
.header-nav{
    display: flex;
    width: Fixed (1,920px);
    height: Hug (88px);
    padding: 26px, 150px, 26px, 150px;
    justify-content: space-between;
    opacity: 0px;
}
.logo{
    width: 144px;
    height: 36px;
}


.menu{
    color:  #07484A;
    width: Hug (606px);
    height: Hug (27px);
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.58px;
    letter-spacing: 0.05em;
    text-align: left;
    gap: 2px;
    opacity: 0px; 
    display: flex;
    list-style: none;
}

li{
    margin: -15px 10px 10px 10px;
}

.header-icons{
    width: Hug (196px);
    height: Hug (27px);
    gap: 58px;
    opacity: 0px;
   display: flex;
   justify-content: space-between;
    
}
.dropdown{
    display: none;
}

@media (max-width: 1024px) {
    .menu{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .menu.show{
        display: flex;
    }
    .menu li{
        color: blue;
    }
}

@media (max-width:320px) {
    .menu{
        display: none;
    }
    .dropdown{
        display: block;
        order: -1;
    }
    .header-nav{
        width: Fixed (321px)px;
        height: Hug (78px)px;
        padding: 26px 16px 26px 0px;
        justify-content: space-between;
    }
    .header-icons{
        gap: 10px;
       padding-inline: 10px;
    }
    .logo{
        width: 104px;
        height: 26px;
        gap: 0px;
        opacity: 0px;
        padding-inline: 10px;
    }
}
