
.hero{
    background-color: #C4C4C4;
    width: Fixed (1,920px);
    height: Fixed (1,080px);
    padding: 80px 150px 250px 150px;
    gap: 0px;
    border-radius: 0px 0px 62px 62px;
    opacity: 0px;
}
.hero-content{
    width: Hug (668px);
    height: Hug (392.06px);
    gap: 54px;
    opacity: 0px;
    
}
h1{
    width: 668px;
    height: 171px;
    gap: 0px;
    opacity: 0px;
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 85.31px;
    text-align: left;
    color: #07484A;
    box-shadow: 0px 4px 4px 0px #1F191900;
}

p{
    width: 539px;
    height: 33.06px;
    gap: 0px;
    opacity: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left;
    color: #07484A;

}
.hero-content button{
    width: Fixed (230px);
    height: Fixed (80px);
    padding: 20px;
    gap: 4px;
    border-radius: 10px;
    opacity: 0px;
    background: #70908B;
    color: #FDFBF8;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}
.mobile, .p-mobile{
    display: none;
}
@media (max-width:1024px) {
    .hero{
        width: Fixed (1,024px);
        height: Fixed (661px);
        padding: 80px 40px 80px 40px;
        border-radius: 0px 0px 50px 50px;

    }
    .hero-content{
        margin-top: 100px;
    }
    .hero-content h1{
        font-family: Playfair Display;
font-size: 48px;
font-weight: 700;
line-height: 62px;
text-align: left;
margin-bottom: -60px;

    }
    .hero-content p{
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left;
    margin-bottom: 60px;
}

    .hero-content button{
        width: 230px;
        text-align: center;
        margin-bottom: 80px;
    }
    
}
@media (max-width:768px) {
    .hero{
    width: Fixed (768px);
    height: Fixed (661px);
    padding: 80px 20px 80px 20px;
}
    .hero-content h1{
        font-size: 48px;
        line-height: 52px;
        margin-bottom: -60px;
    }
    .hero-section .header{
        margin-bottom: 120px;
    }
    .hero-content p{
        font-size: 24px;
        line-height: 32.68px;
        margin-bottom: 60px;
    }
    .hero-content button{
        margin-bottom: 80px;
        width: 230px;
        text-align: center;
    }
}
@media (max-width:320px) {
    .hero{
        width: 320px;
        height: 738px;
        padding: 100px 16px 10px 16px;
        gap: 0px;
        border-radius: 0px 0px 50px 50px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero-content{
        width: 288px;
        height: 218px;
        gap: 52px;
        opacity: 0px;
        text-align: center;
    }
    .hero-content h1{
        display: none;
    }
    .hero-content .mobile{
        display: block;
        font-size: 36px;
        line-height: 52px;
        font-weight: 700;
        text-align: center;
        margin: auto;
        margin-left: -170px;
        

    }
    .hero-content p{
        display: none;
    }
     .hero-content .p-mobile{
        display: block;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin-top: 5px;
        margin-left: -100px;
    }
    .hero-section .header{
        position: absolute;
        top: 30px;
    }
    .hero-content button{
        margin-top: 50px;
        padding: 16px 40px 16px 40px;
        

    }

    
}
