.search2{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 26px;
    left: 20px;
    filter: invert(100);
}
.slider{
    margin-left: -420px;
    margin-top: 30px;
    border: 0px solid #07484A;
    position: relative;
    height: 484px;
}
.up-arrow-side{
   transform:rotate(90deg);
    width: Fixed (40px)px;
    height: Fixed (40px)px;
    padding: 100px 0px 0px 0px;
    gap: 4px;
    border-radius: 100px ;
    opacity: 0px;
    position: absolute;
    bottom: -1020px;
    right: 870px ;
}
.down-arrow-side{
    transform:rotate(90deg);
    width: Fixed (40px)px;
    height: Fixed (40px)px;
    padding: 100px 0px 0px 0px;
    gap: 4px;
    border-radius: 100px;
    opacity: 0px;
    position: absolute;
    bottom: -1070px;
    right: 870px ;
}
.line{
    width: 1620px;
    position: relative;
}
.downarrow{
    position: absolute;
    right: 567px;
    bottom: -2889px;
}
.up-arrow{
    position: absolute;
    right: 450px;
}
.down-arrow{
    position: absolute;
    right: 400px;
}
.arrow{
    position: absolute;
    right:50px ;
}
.down-arrow-side2{
    position: absolute;
    right: -8px;
    bottom: -3600px;
    transform:rotate(90deg);
}
.up-arrow-side2{
    position: absolute;
    left: 1310px;
     transform:rotate(90deg);
    bottom: -3550px;
}
.vector{
    background-color: #07484A;
    width: 18px;
    height: 18px;
    padding: 16px 15px 16px 15px;
    gap: 4px;
    border-radius: 16px ;
    opacity: 0px;
    position: absolute;
    left: 45%;
    margin-top: -50px;
}
.slider2{
    margin-top: 20px;
}
.up-arrow2{
    position: absolute;
    left: 280px;
    top: 4625px;
}
.down-arrow2{
    position: absolute;
    left: 237px;
    top: 4625px;
}
.slider3{
    transform: rotate(180deg);
    width: 10px;
    height: 100px;
    position: absolute;
    top: 150px;
}