.search2{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 26px;
    left: 20px;
    filter: invert(100);
}
.slider{
    margin-left: -420px;
    margin-top: 30px;
    border: 0px solid #07484A;
    position: relative;
    height: 484px;
}
.up-arrow-side{
   transform:rotate(90deg);
    width: Fixed (40px);
    height: Fixed (40px);
    padding: 100px 0px 0px 0px;
    gap: 4px;
    border-radius: 100px ;
    opacity: 0px;
    position: absolute;
    bottom: -700px;
    right: 1450px ;
}
.down-arrow-side{
    transform:rotate(90deg);
    width: Fixed (40px)px;
    height: Fixed (40px)px;
    padding: 100px 0px 0px 0px;
    gap: 4px;
    border-radius: 100px;
    opacity: 0px;
    position: absolute;
    bottom: -650px;
    right: 1450px ;
}
.line{
    width: 1620px;
    position: relative;
}
.downarrow{
    position: absolute;
    right: 710px;
    bottom: -2662px;
}
.up-arrow{
    position: absolute;
    right: 120px;
}
.down-arrow{
    position: absolute;
    right: 70px;
}
.arrow{
    position: absolute;
    right:50px ;
}
.down-arrow-side2{
    position: absolute;
    right: 135px;
    bottom: -3050px;
    transform:rotate(90deg);
}
.up-arrow-side2{
    position: absolute;
    right: 135px;
     transform:rotate(90deg);
    bottom: -3100px;
}
.vector{
    background-color: #07484A;
    width: 18px;
    height: 18px;
    padding: 16px 15px 16px 15px;
    gap: 4px;
    border-radius: 16px ;
    opacity: 0px;
    position: absolute;
    left: 49.5%;
    margin-top: -50px;
}
.vector2{
    margin-left: 5px;
    width: 39.12px;
    height: 39.12px;
    top: 70px;
    gap: 0px;
    opacity: 0px;
    left: 85.5px;

}
.slider2{
    margin-top: 20px;
    margin-left: -30px;
}
.up-arrow2{
    position: absolute;
    left: 280px;
    top: 5080px;
}
.down-arrow2{
    position: absolute;
    left: 237px;
    top: 5080px;
}
.slider3{
    transform: rotate(180deg);
    width: 10px;
    height: 100px;
    position: absolute;
    top: 150px;
    border: 1px solid #FDFBF8
}
