.newsletter{
    width: Fixed (1,920px);
height: Hug (700px);
top: 7290px;
gap: 0px;
opacity: 0px;
display: flex;
}


.first-container{

    background-color:#D9D9D9;
    width: Fixed(860px);
    height: 300px;
    padding: 25%;
    gap: 41px;
    opacity: 0px;
    padding-bottom: 0px;
    padding-top:150px;

}
.second-container{
    background-color: #E0F6F1;
    width: Hug(600px);
    height: Fill (300px);
    padding: 0px 150px 0px 150px;
    gap: 41px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    text-align:center ;
    

}
.email-input{
    background-color: #E0F6F1;
    outline: none;
    border: none;
    color: #C4C4C4;
    font-size: 24px;
    padding-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-text{
    width: 107px;
height: 28px;
gap: 0px;
opacity: 0px;

    color:#FDFBF8;
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
   margin: auto;
}
.btn{
    background: #70908B;
    border: none; 
    width: 250px;   
    height: 60px;
    border-radius: 10px;


}
.news{
    font-family: Playfair Display;
    font-size: 44px;
    line-height: 65.31px;
    letter-spacing: 0.05em;
    text-align: left;
width: 675px;
height: 170px;
gap: 0px;
opacity: 0px;

}
.letter{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 28.13px;
text-align: left;
color: #07484A;
width: 553px;
height: 28px;
gap: 0px;
opacity: 0px;
margin-top: -100px;
}
.letter2{
    display: none;
}
@media (max-width:1024px) {
    .newsletter{
        width: 1,024px;
        height: 700px;
        top: 7035px;
        padding: 100px 0px 0px 0px;
        gap: 0px;
        opacity: 0px;
       
    }
    .first-container{
        width: 512px;
        height: 600px;
        padding: 4px;
        gap: 4px;
        opacity: 0px;

    }
    .second-container{
        width: 512px;
        height: 600px;
        padding: 0px 0px 10px 30px;
        gap: 41px;
        opacity: 0px;

    }
}
@media (max-width:320px) {
    .newsletter{
        width:320px;
        height:859px;
        top: 7085px;
        padding: 80px ;
        gap: 0px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        margin-left: -50px;
    }
    .first-container{
        width: 320px;
        height:280px;
        padding: 4px;
        gap: 4px;
        opacity: 0px;
        padding-left: 35px;
        margin-left: -38px;
    }
    .second-container{
        width: 320px;
        height: 499px;
        padding: 10px 20px 10px 20px;
        gap: 41px;
        opacity: 0px;
        text-align: center;
        margin-left: -38px;
    }
    .letter{
        display: none;
    }
    .letter2{
        display: block;
        margin-top: -100px;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
      margin-left: -100px;
    }
    .news{
        text-align: center;
        margin-left: -170px;
    }
    .email-input{
        margin-left: 50px;
    }
    .btn{
        margin-left: 50px;
    }
}
