.package{
    width: Fixed (1,919px);
    height: Hug (1,165px);
    top: 3676px;
    padding: 100px 150px 100px 150px !important;
    gap: 103px;
    opacity: 0px;
    margin:auto;

}
.special{
    font-family: Playfair Display;
    font-size: 72px;
    line-height: 95.98px;
    margin: auto;
    text-align: center;
}
.frame{
    width: Fill (1,619px);
    height: Hug (766px);
    gap: 10px;
    opacity: 0px;
    display: flex;
    justify-content: center;
}
.frame1{
    width: Hug (800px);
    height: Fill (766px);
    margin-top: 20px;
}
.frame2{
    background-color: white;
    width: Fill (697px);
    height: Fill (766px);
}
.frame1-div{
    background-color: #D9D9D9;
    width: 622px;
    height: 556px;
    padding: 4px 20px 0px 0px;
    gap: 4px;
    border-radius: 16px;
    opacity: 0px;
    position: relative;
}
.block{
    display: flex;
    width: 670px;
}

.cart{
    background-color:#70908B ;
    width:190px;
    height: 66px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 10px ;
    opacity: 0px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    left: 420px;
    bottom: -3380px;
}
.more p{
    color: black;
}
.cart p{
    color: #F0F0F0;
}
h2{
    color:#07484A;
    font-weight: 700;
   
}
h3{
    color:#07484A;
    font-weight: 400;
}
.packages-block{
    display: flex;
    padding-inline: 15px;
}
.packages-block h2{
    position: absolute;
    right: 30px;
    margin-bottom: 20px;
    
    
}
.block-div1{
    background-color: #70908B;
    border-radius: 10px;
    height: 220px;
    width: 320px;
    padding: 0px 5px 0px 5px;
}

.block2{
    display: flex; 
}
.block-text{
    font-size: 20px;
}
.more-text{
    font-size: 20px;
    font-family: 700;
}
.lorem-text{
    font-size: 15px;
    line-height: 20px;
}

@media (max-width:1024px) {
    .frame{
        display: flex;
        flex-direction: column;
    }
}