.products{
    width: 1,920px;
    height:1,173px;
    top: 2503px;
    padding: 100px 0px 100px 0px;
    gap: 54px;
    opacity: 0px;
}
.products h1{
 margin: auto;
 width: 50%;
}

.image-container{
display: flex;

}
.background-image{
width: 452px;
height: 1000px;
gap: 0px;
opacity: 0px;
bottom: 150px;
position: relative;

}
.images{
    display: flex;
    position: absolute;
    left: 50px;
    justify-content: center;
}
.image{
    width: 250px;
    height: 410px;
    padding: 60px 40px 60px 40px;
    gap: 40px;
    border-radius: 16px ;
    opacity: 0px;
    margin-left: 25px;
    text-align: center;
}
#image1{
    background: #CAF3E5;
}
#image2{
    background: #E0EFF6;
}
#image3{
    background: #EEEBFF;
}
#image4{
    background: #FFF4E7;
}
.detail{
    width: 350.75px;
    height: 131px;
    display: flex;
    flex-direction: column;
    
}
.details{
    color:#70908B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
    .detail h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 15px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
        margin-left: 0px;
    }
    .detail p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
        text-align: left;
        
    }
    .detail span{
       font-size: 24px;
       font-weight: 700;
       line-height: 32.68px;
       text-align: left;
    }
    .arrow{
        margin-left:90% ;
    }
    .line{
        position: relative;
        top: -20px;
    }
    .item {
        background: #70908B;
        width: 265px;
        height: 73px;
        gap: 18px;
        border-radius: 10px;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .item p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.51px;
        color: #FFFFFF;
        margin-left: auto;
    }
    .arrow-icon{
        width: 39.12px;
height: 39.12px;
left: 206.29px;
gap: 0px;
opacity: 0px;


    }