.testimonial{
    width: 1,920px;
height:1,017px;
top: 6273px;
padding: 10px 150px 100px 150px;
gap: 107px;
opacity: 0px;
display: flex;
flex-direction: column;



}
.testimonial-heading{
    width: 1,620px;
height:172px;
gap: 35px;
opacity: 0px;
margin: auto;
padding-left: 20%;
text-align: center;


}
.testimonial-heading p{
    margin-top: -100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    text-align: left;

    margin-left: -20px;
}
.testimonial-block{
    width: 1,620px;
height:410px;
gap: 0px;
opacity: 0px;
display: flex;
margin: 100px 40px 50px 0px;
}
.text-image{
    width: Fixed (421px);
height: Fixed (410px);
gap: 4px;
border-radius: 20px;
opacity: 0px;
background: #D9D9D9;
position: relative;
padding: 16%;
margin: auto;
}
.quote{
    margin-bottom: 250px;
    position: absolute;
    left: 90px;
    bottom: -5650px;
   
}
.testimonial-content{
    width: 964px;
height: 301px;
gap: 65px;
opacity: 0px;
display: flex;
flex-direction: column;
margin-left: 100px;
}
.testimonial p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 49.03px;
    text-align: left;
    width: 964px;
    height: 187px;
    gap: 0px;
    opacity: 0px;

}
.testimonial .float{
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
}
.foot{
    display: flex;
    margin-top: -80px;
}
.foot p{
    font-size: 14px;
    margin-bottom: -120px;
    margin-left: 10px;
}
.arrow-image{
    margin-top: 90px;
    transform: rotate(90deg);
    padding-right: 50px;
    margin-bottom: 80px;
}
#downarrow{
    margin-right: -200px;
    
}
@media (max-width:1024px) {
    .testimonial{
        width: Fixed (1,019px)px;
        height: Hug (975px)px;
        top: 6060px;
        padding: 100px 40px 100px 40px;
        opacity: 0px;

    }
    .arrow-image{
        display: none;
    }
    .foot .adjust{
        width: 750px;
    }
    .testimonial-content p{
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        margin: auto;
        padding: 0px;
    }
    .testimonial-heading{
        margin-bottom: -80px;
       margin-right: -300px;
    }
    .text-image{
        margin-top: -2px;
    }
    .quote{
        margin-bottom: -320px;
        margin-left: -140px;
    }
    .foot{
        margin-bottom: -10px;
        margin-top: -300px;
    }
}
@media (max-width:320px) {
    .testimonial{
        width: Fixed (320px)px;
        height: Hug (997px)px;
        top: 6087.69px;
        padding: 80px 16px 80px 16px;
        gap: 107px;
        opacity: 0px;

    }
    .testimonial-block{
        margin-left: 30px;
    }
    .testimonial-heading h1{
font-size: 36px;
font-weight: 700;
line-height: 52px;
text-align: left;

    }
    .testimonial-heading p{
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;

    }
    .testimonial-block{
        display: flex;
        flex-direction: column;
    }
    .text-image{
        width: 260px;
        height: 300px;
        padding: 4px 0px 0px 0px;
        gap: 4px;
        border-radius: 20px;
        opacity: 0px;
        
margin-top: -30px;
    }
    
    .testimonial-content p{
font-size: 18px;
font-weight: 400;
line-height: 23px;
margin-top: 30px;
margin-left: -100px;
width: 288px;
height: 161px;
gap: 0px;
opacity: 0px;

}
.foot{
    margin-top: -200px;
}

.quote{
    margin-bottom: -200px;
}
.testimonial-content .float{
    margin-top: -40px;
}
    }
